/* basic reset css */
* {margin:0; padding: 0;}


/* parent container*/
.container {
	width:500px;
	margin: 50px 0;
	background-color: lightblue;
}
/* child container */
.box{
	
	background-color: gold;

	width: 250px;

	height: 150px;

	overflow: auto;

}