/* basic reset css */
* {margin:0; padding: 0;}

/* background grid image */
body{background: url(../images/layout_grid.gif);}


/* parent container*/
.container {

}
/* child container */
* {	

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}
.box{
	background-color: gold;
	width: 400px;
	border: 25px solid black;
	padding: 50px;
	
}